.scene {
  width: 100%;
  padding-top: var(--block-gap-vertical, @block-gap-vertical);
  padding-right: var(--block-gap-horizontal, @block-gap-horizontal);
  padding-bottom: var(--block-gap-vertical, @block-gap-vertical);
  padding-left: var(--block-gap-horizontal, @block-gap-horizontal);

  &--full {
    padding-right: 0;
    padding-left: 0;
  }
}
